@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    /* ............. */
    --color-primary: #6C9BCF;
    --pink: #FF99CC;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --green: #54B192;
    /* Moi khi nguoi dung re chuot qua elemetn se nhat di */
    --green-l:#A4CEC0;
    --gray: #3F3D56;
    --Green: #009900;
    --Red: #FF0000;
    --orange: #fa5652;
    --light-pink: #fff9f9;
    --shadow: 0 20px 60px 0 rgba(167, 56, 80, 0.2);
    --linear-gradient: (45deg, #f06, #h3cf, #f06);
    --smooth: all .3s ease-in;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}



.header .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: header-box;
}
/* mau ten cua page */
.header .logo .logo-name span.hch{
    color: var(--color-danger);
    font-size: 20px;
   
}
.header .logo .logo-name span{
    
    color: var(--dark);
    font-size: 30px;
}

.header .logo .bx{
    min-width: 60px;
    display: flex;
    justify-header: center;
    font-size: 2.2rem;
}
.header .logo img{
    width: 3rem;
    height: 3rem;
}

/* start header kich thuoc vung header*/


.header nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header nav::before{
    header: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.header nav a{
    color: var(--dark);
}

.header nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.header nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.header nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.header nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.header nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-header: center;
    align-items: center;
    background: var(--color-danger);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.header nav .notif{
    font-size: 20px;
    position: relative;
}

.header nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-header: center;
}

.header nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
 /* phan menu so xuong tu user */
.sub_menu_wrap{
  position: absolute;
  top: 100%;  
  right: 1%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 1;
  width: 200px;
  
}
/* mo menu  */
.sub_menu_wrap.open_menu{
    max-height: 400px;
}
/* day la o mo xuong tu user */
.sub_menu{
    background: var(--dark);
    padding: 25px; /*khoang cach le hai ben so voi cai canh bang*/
    margin: 5px;
   
}
.user_info{
    display: flex;
    align-items: center;
    color: #eceaff;

}
.user_info h3 {
    font-weight: 500;
}

.sub_menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub_menu_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
/* mau chu trong o menu so xuong */
.sub_menu_link p{
    width: 100%;
    color: #eceaff;
}
/* day la cai dau > */
.sub_menu_link span{
    font-size: 22px;
    color: #eceaff;
}
.sub_menu_link:hover span{
    transform: translateX(5px);
}
.sub_menu_link:hover p {
font-weight: 600;
}



/* <!-- START PHAN CAC NUT DUOI HEADER  --> */

.menu_container{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
    z-index: -1;


}

.menu_container nav{

    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    
}

.menu_container nav::before{
    header: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.menu_container nav ul{
    width: 100%;
    text-align: center;
    
}
.menu_container nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;   
}

.menu_container ul li a {   /* style chu menu */
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    transition: color 0.3s; /* Add a smooth color transition on hover */
    
}
/* ..................start hieu ung hover chuot cua cac menu .................. */


.menu_container ul li a::before {
    content: ''; /* Create an empty content box */
    position: absolute;
    width: 100%;
    height: 2.8px; /* Set the initial height of the line */
    bottom: 0;
    left: 0;
    background-color: var(--Red); /* Set the color of the line */
    transform: scaleX(0); /* Initially, the line has zero width */
    transform-origin: 0 100%; /* Set the transform origin to the left */
    transition: transform 0.3s; /* Add a smooth width transition on hover */
}

.menu_container ul li a:hover::before {
    transform: scaleX(1); /* Increase the line width to 100% on hover */
}
/* ..................end hieu ung hover chuot cua cac menu .................. */



/* <!-- END PHAN CAC NUT DUOI HEADER  --> */